.exploreContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  align-content: center;
  padding: 5%;
}
.filterContainer {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  align-content: flex-start;
  margin: 20px;
  vertical-align: middle;
}
.searchForm {
  display: flex;
  flex-direction: row;
}
.searchFormSelectItem {
  width: 200px;
  min-height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  margin: 0px 10px;
}

.searchFormSelect {
  min-width: 200px;
  margin: 10px 10px;
  vertical-align: middle;
}

/* .searchInput {
  width: 350px;
  min-height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  margin: 0px;
  margin-right: 20px;
} */
.searhFormInput {
  min-height: 40px;
  margin: 0px;
}
.searhFormButton {
  background-color: #f32178;
  background: #f32178;
  border-color: #f32178;
  color: white;
  border-end-end-radius: 5px;
  border-start-end-radius: 5px;
}

.nftListContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  align-items: flex-start;
  justify-content: flex-start;
  align-content: flex-start;
}
.nftItemContainer {
  min-width: 94%;
  min-height: 94%;
}
.notFoundContainer {
  font-size: larger;
  color: #f32178;
  width: 100%;
  padding-left: 20px;
}
.searchBox {
  width: 100% !important;
  margin-right: 0 !important;
  display: flex;
  flex-wrap: nowrap;
}

@media (max-width: 390px) {
  .searhFormButtonItem {
    margin-right: 0px !important;
  }
  .searhFormInputItem {
    width: 100% !important;
    margin-right: 0 !important;
    display: flex;
    flex-wrap: nowrap;
  }
}
