.exploreContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  align-content: center;
  padding: 5%;
}
.filterContainer {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  align-content: flex-start;
  margin: 20px;
}
.searchForm {
  display: flex;
  flex-direction: row;
}
.searchFormSelectItem {
  min-width: 200px;
  min-height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  margin: 0px 10px;
}

.searchFormSelect {
  min-width: 200px;
  margin: 10px 10px;
  vertical-align: middle;
}

.searhFormInputItem {
  min-width: 180px;
  min-height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  margin: 0px;
}
.searhFormInput {
  min-width: 185px;
  min-height: 40px;
  margin: 0px;
}
.searhFormButtonItem {
  min-width: 80px;
  min-height: 40px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  align-content: center;
  margin: 0px;
}
.searhFormButton {
  min-height: 40px;
  margin: 0px;
  background-color: #f32178;
  background: #f32178;
  border-color: #f32178;
  color: white;
  border-end-end-radius: 5px;
  border-start-end-radius: 5px;
}

.nftListContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  align-items: flex-start;
  justify-content: flex-start;
  align-content: flex-start;
}
.nftItemContainer {
  min-width: 94%;
  min-height: 94%;
}
.notFoundContainer {
  font-size: larger;
  color: #f32178;
  width: 100%;
  padding-left: 20px;
}
