.headerLink {
  margin: 0px 5px;
  line-height: 12px;
  font-weight: 600;
  border-radius: 25px;
  font-size: 15px !important;
  color: rgb(0, 102, 255);
  background: rgba(0, 102, 255, 0.15);
  border: none !important;
  padding: 13px 20px;
}
