.categoriesListParent{
    font-weight: bold;
    list-style-type: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}
.categoriesListParent > div{
    margin: 5px;
    white-space: nowrap;
}
.categoriesListParent ul li{
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 30px;
    border: 1px solid #f2f2f2;
}
.categoriesListScroll{
    position: relative;
    overflow: auto;
}
.categoriesList{
    list-style-type: none;
    display: flex;
    flex-direction: row;
    align-items: left;
    justify-content: flex-start;
    padding-left: 0px;
}
.categoriesList li
{
    border: solid 0.002rem rgb(204, 201, 201) !important;
    margin-right: 10px !important;
    color: black;
}
.productItem{
    border: 1px solid #ccc;
    border-radius: 15px;
}
.productDescriptionDiv{
    justify-content: first baseline;
}
.topOfProductImage{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.wareHouse{
    color: #969696;
    font-size: 12px;
    position: relative;
    left: 0px;
}
.placeBid{
    color: #818182;
    float: right;
}
.ownImage{
    border-radius: 50%;
}
.ownImage:not(:first-child){
    margin-left: -10px;
}
.likeButton{
    color: #818182;
    font-size: 35px;
    position: relative;
    left: 80px;
    top: -3px;
}
.countDownParent
{
    position: relative;
    height: 30px;
    margin-top: -50px;
    width: 170px;
    margin-bottom: 20px;
    z-index: 1;
    text-align: center;
}
.countDown
{
    position: relative;
    top: 2px;
    background: white;
    width: 165px;
    border-radius: 25px;
    height: 36px;
    left: -10px;
    padding-top: 7px;

}
.countDownParent:before
{
    content: " ";
    position: absolute;
    width: 170px;
    height: 40px;
    left: -12px !important;
    inset: 0px;
    z-index: 0.5;
    border-radius: 25px;
    background: linear-gradient(to right, rgb(12, 80, 255) 0%, rgb(12, 80, 255) 24%, rgb(91, 157, 255) 55.73%, rgb(255, 116, 241) 75%, rgb(255, 116, 241) 100%);
}
.countDownIcon
{
    position: relative;
    top: -2px;
    left: 3px;
}