.profile{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* min-height: 520px; */
    width: 100%;
}
.cover img{
    height: 260px;
    width: 100%;
    transform: translateX(-50%);
    left: 50%;
    position: relative;
}
.bio{
    border-top: 1px solid #ccc
}
.bioDescription{
    padding: 0px 10px; 
    margin-top: -60px;
}
.otherLinks{
    height: 40px;
    width: 40px;
    border: 1px solid rgb(239, 239, 239);
    -webkit-box-align: center;
    align-items: center;
    cursor: pointer;
    -webkit-box-pack: center;
    transition: all 0.12s ease-in-out 0s;
    border-radius: 40px;
    background-color: transparent;
    transform-origin: center center;
}
.profile>div{
    width: 100%;
    height: 50%;
    text-align: center;
    flex:1;
    font-weight: 700;
}
.profile>div:first-child{
    background-color: #eee;
    text-align: center;
}
.avatar img{
    width: 100%;
    height: 100%;
}
.profile .avatar{
    border-radius: 50%;
    width: 120px;
    height: 120px;
    margin: 0px auto;
    border:2px solid #fff;
    overflow:hidden;
    z-index: 9;
    transform: translateY(-70%);
}
.profile span{
    font-weight: 700;
    font-size: 16px;
    display: block;
    color: #686868;
}
