.slideWrapper{
    width: auto;
    overflow-x: auto;
    padding:15px;
    margin:0px 20px;
    white-space: nowrap;
}
.slideWrapper::-webkit-scrollbar {
    width: 10px;
    height: 5px;
}
.slideWrapper::-webkit-scrollbar-track {
    border-radius: 10px;
    background-color: transparent;
}
.slideWrapper::-webkit-scrollbar-thumb {
    background: rgba(124, 124, 124,0.1); 
    border-radius: 10px;
}
.slideWrapper::-webkit-scrollbar-thumb:hover {
    background: rgba(124, 124, 124,0.5); 
}

.slideItem{
    display: inline-block;
    width: 255px;
    height: 255px;
    padding-left: 20px;    
}
.slideItem>div{
    overflow:hidden;
    border-radius: 15px;
    border:1px solid #ccc;
    width:100%;
    height: 100%;
    position: relative;
    font-weight: 700;
    font-size: 25px;
    padding:10px;
}
.slideItem>div span{
    font-weight: 700;
}
.slideItem>div:first-child{
    margin-left: -20px;
}
.slideItem img{
    width:100%;
    height: 100%;
    position: absolute;
    top:0px;
    left: 0px;
    transition: transform 500ms;
    z-index: -1;
}
.slideItem:hover img{
    transform: scale(1.2,1.2);
}
.title{
    font-size: 20px;
    font-weight: 700;
    display: block;
    word-wrap: break-word;
    width:100%;
}
.subtitle{
    font-size: 15px;
    font-weight: 700;
    width:100%;
    display: block;
    color: #ffffff80;
}