body {
  padding-top: 74px;
}
* {
  font-size: 15px;
  font-weight: 900;
}
*::-webkit-scrollbar,
body::-webkit-scrollbar {
  width: 10px;
  height: 10px;
  background-color: transparent;
}
*::-webkit-scrollbar-track,
body::-webkit-scrollbar-track {
  background-color: #fff;
  border-radius: 4px;
}
*::-webkit-scrollbar-thumb,
body::-webkit-scrollbar-thumb {
  background-color: #fff;
  border-radius: 4px;
}
*::-webkit-scrollbar-thumb:hover,
body::-webkit-scrollbar-thumb:hover {
  background-color: #ccc;
}
.text-gradient {
  display: inline !important;
  font-weight: 900;
  background: -webkit-linear-gradient(
    45deg,
    rgb(20, 126, 224),
    rgb(213, 87, 252)
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.rec.rec-arrow {
  position: absolute;
  background-color: #fff;
  z-index: 1;
}
.rec.rec-arrow:hover,
.rec.rec-arrow:focus:enabled {
  background-color: #fff !important;
  color: #000 !important;
}

.rec.rec-arrow-right {
  right: 0px;
}
.rec.rec-arrow-left {
  left: 0px;
}
.rec.rec-arrow:disabled {
  visibility: hidden;
}
.rec.rec-carousel {
  position: relative;
}
.rec.rec-carousel-wrapper {
  margin: 5px -20px !important;
  width: auto !important;
}
